html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
}

div#header {
  background-color: #ff3300;
  color: white;
  height: 50px;
}

div#main-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: white;
}

h1.site-title {
  float: left;
  font-size: 18pt;
  margin-left: 5px;
  margin-top: 10px;
}

h2.site-subtitle {
  float: left;
  font-size: 13pt;
  margin-top: 15px;
  margin-left: 10px;
}

div#sched {
  left:0;
  top:0;
  height:91vh;
  overflow-y:scroll;
  padding-top: 5px;
  font-size: 14pt;

}

table#sched-table {
  margin-left: 1px;
}

tr {
  height: 26px;
}

div.form-group {
  margin-bottom: 2px !important;
}

label.col-sm-3 {
  text-align: right;
  padding-top: 3px;
}

div.col-sm-3 {
  padding-top: 5px;
}

th#head {
  border-right: none;
  border-left: 2px solid black;
  height: 28px;
}

th.col-xs-2 {
  border-bottom: 2px solid black;
  padding: 0px;
}
th {
  border-top: 2px solid black;
  text-align:center;
}

.timeslot:hover {
  border: 1px solid black;
}

.timeslot {
  border: none;
  text-align:center;
}
