* {
  font-family: Tahoma, serif;
  font-size: 1.82vh;
}

tr#header > th {
  width:7vw;
  text-align:center;
  border-bottom: 2px solid #111111
}

tr.time-period > th {
  padding-top: 2px;
  padding-bottom: 2px;
  border-right: 2px solid #111111
}

table#table {
  border-collapse: collapse;
  border:2px solid #111111;
  float: left;
  height: 100%
}

div#selectors {
  float:left;
  margin-left: 10px
}

td.timeslot:hover {
  border: 1px solid #111111
}


th#spacer {
  width:auto !important;
  border:none !important;
}

div.option-panel {
  width: 17vw;
  border: 1px solid #111111;
  border-top: none !important;
  padding: 5px;
}

div.option-panel#panel-1 {
  border-top: 1px solid #111111 !important;
}

#panel-3 > div {
  padding: 2px;
  float: left;
}

#panel-3 {
  height: 20px
}

th.right {
  text-align:right;
}
